# ROS
catkin_ws/build
catkin_ws/devel
catkin_ws/logs
.catkin_tools/

# Python
*.py[cod]

# Frontend
catkin_ws/src/gui/frontend/node_modules
catkin_ws/src/gui/frontend/package-lock.json

# C extensions
*.so

# Temporary files
*~
*.swo
*.swp
.DS_Store

# Compiled files
*.o
*.d
*.bin
*.map
*.elf

# pycharm
.idea/

# rosbags
*.bag
