[submodule "catkin_ws/src/tritech_micron"]
	path = catkin_ws/src/tritech_micron
	url = git@github.com:mcgill-robotics/ros-tritech-micron.git
[submodule "catkin_ws/src/darknet_ros"]
	path = catkin_ws/src/darknet_ros
	url = git@github.com:leggedrobotics/darknet_ros.git
	shallow = true
[submodule "catkin_ws/src/dcdc_nuc"]
	path = catkin_ws/src/dcdc_nuc
	url = git@github.com:mcgill-robotics/ros-dcdc-nuc.git
