<launch>
	<arg name="downImage" default="/camera_down/image_raw"/>
	<arg name="frontImage" default="/camera_front/image_raw"/>

	<node name="camera_test_down" pkg="image_view" type="image_view">
		<remap from="image" to="downImage"/>
	</node>

	<node name="camera_test_front" pkg="image_view" type="image_view">
		<remap from="image" to="frontImage"/>
	</node>

	<node pkg="automate_drytest" name="full_dry_test.py" type="full_dry_test.py" output="screen">
	</node>

</launch>