<launch>

	<!--DEPTH-->
	<node name="controller" pkg="pid" type="controller" ns="depth_pid" output="screen">
	    <param name="node_name" value="pid" />

	    <!--Default PID Gains (Should load from file eventually)-->
	    <param name="Kp" value="10" />
	    <param name="Ki" value="0.0" />
	    <param name="Kd" value="0.0" />

	    <!--Effort Limits-->
	    <param name="upper_limit" value="1000" />
	    <param name="lower_limit" value="-1000" />

	    <!--Integral Factor Limit-->
	    <param name="windup_limit" value="10" />

	    <!--Set Topics-->
	  	<!--Setpoint will be "/<ns>/setpoint"-->
	  	<!--Enable will be "/<ns>/pid_enable"-->
	  	<param name="topic_from_controller" value="/controls/superimposer/heave" />
	  	<param name="topic_from_plant" value="/state_estimation/depth" />
	</node>

    <!-- THESE ARE THE CV PIDS. We might want to migrate these to the CV package later -->
	<!--lane detector YAW -->
	<node name="controller" pkg="pid" type="controller" ns="lane_detector_yaw_pid" output="screen">
	    <param name="node_name" value="pid" />

	    <!--Default PID Gains (Should load from file eventually)-->
	    <param name="Kp" value="10" />
	    <param name="Ki" value="0.0" />
	    <param name="Kd" value="0.0" />

	    <!--Effort Limits-->
	    <param name="upper_limit" value="1000" />
	    <param name="lower_limit" value="-1000" />

	    <!--Integral Factor Limit-->
	    <param name="windup_limit" value="10" />

	    <!--Set Topics-->
	  	<!--Setpoint will be "/<ns>/setpoint"-->
	  	<!--Enable will be "/<ns>/pid_enable"-->
	  	<param name="topic_from_controller" value="/controls/superimposer/yaw" />
	  	<param name="topic_from_plant" value="/cv/down_cam_heading_Hough" />
	</node>
	
	<!--lane detector SWAY -->
	<node name="controller" pkg="pid" type="controller" ns="lane_detector_sway_pid" output="screen">
	    <param name="node_name" value="pid" />

	    <!--Default PID Gains (Should load from file eventually)-->
	    <param name="Kp" value="10" />
	    <param name="Ki" value="0.0" />
	    <param name="Kd" value="0.0" />

	    <!--Effort Limits-->
	    <param name="upper_limit" value="1000" />
	    <param name="lower_limit" value="-1000" />

	    <!--Integral Factor Limit-->
	    <param name="windup_limit" value="10" />

	    <!--Set Topics-->
	  	<!--Setpoint will be "/<ns>/setpoint"-->
	  	<!--Enable will be "/<ns>/pid_enable"-->
	  	
	  	<param name="topic_from_controller" value="/controls/superimposer/sway" />  	
	  	<!--<param name="topic_from_plant" value="/cv/down_cam_target_centroid/gravity/x" /> -->
	  	<param name="topic_from_plant" value="/cv/down_cam_PIDx" />	  	
	  	
	</node>
	
	<!--Lane Detector SURGE -->
	<node name="controller" pkg="pid" type="controller" ns="lane_detector_surge_pid" output="screen">
	    <param name="node_name" value="pid" />

	    <!--Default PID Gains (Should load from file eventually)-->
	    <param name="Kp" value="10" />
	    <param name="Ki" value="0.0" />
	    <param name="Kd" value="0.0" />

	    <!--Effort Limits-->
	    <param name="upper_limit" value="1000" />
	    <param name="lower_limit" value="-1000" />

	    <!--Integral Factor Limit-->
	    <param name="windup_limit" value="10" />

	    <!--Set Topics-->
	  	<!--Setpoint will be "/<ns>/setpoint"-->
	  	<!--Enable will be "/<ns>/pid_enable"-->
	  	
	  	<param name="topic_from_controller" value="/controls/superimposer/surge" />	  	
	  	<!--<param name="topic_from_plant" value="/cv/down_cam_target_centroid/gravity/y" /> -->
	  	<param name="topic_from_plant" value="/cv/down_cam_PIDy" />	  
	</node>

	
	
	
<!--Buoy approach Sway-->
	
<!--Buoy approach Heave-->
	
<!--Buoy approach surge-->

<!--Buoy Object Detection Sway-->

<!--Buoy Object Detection Heave-->



</launch>
