<launch>
	<arg name="gains_file" default="$(find controls)/config/pid_gains.yaml" />
	<!-- Launch the parameter server -->
	    <rosparam command="load" file="$(arg gains_file)" ns="PID" />

	    <!-- Launch the effort controllers -->
	    <node name="controls" pkg="controls" type="superimposer.py" respawn="false" output="screen">
	      <param name="thrust_decay" value="1.0" />
	    </node>
		<node name="thrust_mapper" pkg="controls" type="thrust_mapper.py" respawn="false" output="screen">
	    	<remap from="thrust_cmds" to="electrical_interface/thrusters"/>
	    </node>
		<node name="visual_servo" pkg="controls" type="visual_servo.py" />
</launch>