<launch>
  <arg name="rviz_config" default="$(find simulation)/config/robot.rviz" />
  <arg name="gains_file" default="$(find controls)/config/sim_gains.yaml" />

  <include file="$(find simulation)/launch/description.launch" />

  <include file="$(find controls)/launch/controls.launch" >
    <arg name="gains_file" value="$(arg gains_file)" />
  </include>

  <node name="state_publisher" type="state_publisher" pkg="state_estimation" />

  <node name="rviz_sim" pkg="simulation" type="sim_auv.py"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>
