// .post {
//   background-color: $white;
// }

.post h2 {
  color: $secondary;
  font-size: 1.5rem;
}

.post i {
  color: $white;
  font-size: 0.75rem;
}

.post q {
  font-size: 1rem;
  color: $secondary;
}

.post p {
  color: $white;
  text-align: justify;
  font-size: 1rem;
}
