@import url('https://fonts.googleapis.com/css?family=Allura');

#fader {
  z-index: 1;
  min-height: 120px;
  background-image: linear-gradient($primary, $primary, transparent);
}

.cursive {
  font-family: Allura, cursive;
}

.solidbg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 8rem 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $primary;
}

.solidbg h1 {
  color: white;
  font-size: 4rem;
  line-height: 2.5rem;
  -webkit-background-clip: text;
}

.pborder {
  border: 4px solid $secondary;
}

@media (min-width: 768px) {
  #fader {
    min-height: 200px;
  }
}
